body {
    display: flex;
    flex-direction: column;
}

#video-status-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
}

#selected-scene-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
}

#render-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
}

#auto-select-scene-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#settings-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
}
